
/* Navigation */
.nav {
    /*background-color: var(--color-secondary);*/
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 2px solid pink;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 8px;
}

.title {
    font-size: 1.5rem;
    color: var(--color-white);
}

.auth-links ul,
.guest-links {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1.25rem;
    border: 2px solid black;
}

.active-link{
    color: var(--color-primary);
    font-weight: bold;
}

.default-link {
    color: var(--color-secondary);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.default-link:hover {
    color: var(--color-white); /* Text color on hover */
    text-decoration: underline; /* Underline on hover */
    text-decoration-color: var(--color-primary); /* Color for underline */
}

.logout-btn,
.login-btn,
.signup-btn {
    background: var(--color-primary);
    color: var(--color-secondary);
    padding: 8px 32px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    text-decoration: none;

}

.logout-btn:hover,
.login-btn:hover,
.signup-btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: black;
    transform: scale(1.05);
}




