.my-favourites-page {
    padding: 32px 0;
}

.park-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    margin-top: 32px;
}


.empty-message {
    text-align: center;
    font-size: 1.25rem;
    color: var(--color-secondary);
    margin-top: auto;
    margin-bottom: auto;
    padding: 16px;
}
