/*----------- INNER- EN OUTER CONTAINERS ------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px;
    border: 2px solid red;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    max-width: 100%;
    width: 100%;
    border: 2px solid blue;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Utility classes*/
.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.padding {
    padding: 16px;
}

.full-width{
    width: 100%;
}