/*In dit bestand plaats je alle algemene styling die geldt voor de gehele applicatie*/

:root {
  --color-primary: #38E991;
  --color-secondary: #2C2F39;
  --color-tertiary: #50535C;
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-text-size-adjust: 100%;*/
}

button, input, select, textarea {
  font-family: inherit;
}

h1 {
  font-size: 60px;
  line-height: 100%;
  font-weight: 800;
  letter-spacing: -1px;
  margin: 16px 0;
  background: linear-gradient(90deg, #38E991 20%,#50535C 60%);
  background-clip: text ;
  color: transparent;
  /*margin-block: 0.67em;*/
}

h2 {
  font-size: 30px;
  line-height: 160%;
}

h3 {
  margin-block: 1em;
}

h4 {
  margin-block: 1.33em;
}

p {
  margin-block: 0.5em;
}

.btn{
  background: var(--color-primary);
  color: var(--color-secondary);
  padding: 8px 32px;
  display: inline-block;
  font-weight: 500;
  transition: all 300ms ease;
}

.btn:hover{
  background: var(--color-primary) ;
  color: #FFFFFF;
}



/*----------- INNER- EN OUTER CONTAINERS ------------------- */

.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Brede inner container*/
.inner-content-container {
  flex-basis: 1400px;
  flex-shrink: 1;
  flex-grow: 0;
  align-items: center;
}